.search-input {
  background-color: #f9f9fa;
  box-shadow: none;
  outline: none;
  padding: 5px;
}
.icon-input {
  background-color: #f9f9fa;
  display: flex;
  align-items: center;
}
.plus-icon {
  color: white;
  background-color: #57c9d3;
}
.search-icon {
  color: #737373;
}
.bxs--edit {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232092FC' d='m18.988 2.012l3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287l-3-3L8 13z'/%3E%3Cpath fill='%232092FC' d='M19 19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2z'/%3E%3C/svg%3E");
}
.material-symbols--delete-outline {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff1517' d='M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z'/%3E%3C/svg%3E");
}
.Action {
  position: sticky;
  right: 0;
}
